/* body margin and padding removal */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

button{
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.section1 {
    background: url('../assets/moon-wallpaper-1920x1080.jpg');
    padding: 7rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
}

.section1 > h1{
    max-width:40vw;
    font-size: 2.5rem;
    text-align: center;
}

.section1 > button{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: .5rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;
}

.section2{
    padding: 3rem 0;
    background-color: #f2f2f2;
}

.heading-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading-wrapper > h2{
    margin: .5rem 0;
}

.card-wrapper{
    display: flex;
    margin: 0 7rem;
}

.card-wrapper > div{
    margin: 3rem 1rem;
}

.card-wrapper >div>img{
    width: 400px;
}

.icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icon-wrapper > img{
    width: 1rem;
}
.icon-wrapper > p{
    margin: 0 .5rem;
}


.section3 {
    background: url('../assets/sailing_ship_4-wallpaper-1920x1080.jpg');
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
}

.section3 > h1{
    max-width:38vw;
    font-size: 1.5rem;
    text-align: center;
}

.section3 > button{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: .5rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;
}



.section4 {
    padding: 3rem 0;
    background-color: #f2f2f2;
}

.section4-button-wrapper{
    display: flex;
    justify-content: center;
    width: 100% ;
}

.section4-button-wrapper > button{
    border: 1px solid white;
    background-color: #78cac0;
    color: white;
    padding: .5rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;
}



.card-wrapper{
    display: flex;
    margin: 0 7rem;
}

.card-wrapper > div{
    margin: 3rem 1rem;
}

.card-wrapper >div>img{
    width: 400px;
}

.icon-wrapper2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper2 > img{
    width: 1rem;
}
.icon-wrapper2 > p{
    margin: 0 .5rem;
}

.brand-icon-wrapper {
    display: flex;
    justify-content: center;
}
.brand-icon-wrapper >img {
    margin: 1rem;
    width: 100px;
    
}

.section5{
    background-color: white;
    padding: 2rem 0;
}


footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #2F2F2F;
    color: white;
    padding: 3rem 0;
}
footer> div{
    width: 100%;
}

footer > p {
    max-width: 50vw;
    padding: 2rem 0;
}